div.photo-item{
    width: 240px;
    height: 240px;
    margin: 15px;
   
    float: left;
    border-radius: 50%;
    border: 5px white solid;
    overflow: hidden;
}
div.photo-item img{
    height: 240px;
    width: auto;
}

.blocked{
    border: 5px rgb(82, 88, 82) solid;
    filter: grayscale(100%);
}
.available{
    border: 5px green solid;
}
#achievements {
    background-color: rgb(227, 253, 248);
}
div.clear {
    clear: both;
}