body {
    padding: 0;
}
.header {
    width: 100vw;
    height: 10vh;
    background-color: #142d4c;
}
.header img {
    height: 75px;
    width: 75px;
    float: left;
    padding: 10px 15px 15px 20px 
}
.header h1 {
    text-align: center;
    color: #9fd3c7;
    padding-top: 30px;
}












































