.header{
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    text-align: center;
    font: bold 20px verdana;
    padding-top: 20%;  
    color: rgb(23, 103, 177);
    margin: 0;
}

body{
    margin: 0;
    background-image: url(images/photo-1445116572660-236099ec97a0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu {
    width: 100vw;
    height: 100vh;
    background-color: beige;

}
.picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
}
img {
    height: 100%;
    width: 100%;
}
.item{
    width: 50%;
    margin: 30px auto;
}
.info{
    border-bottom: 2px brown solid;
}
a:visited{
    color: white;
}
a:hover{
    color: black;
}