h1 ~ p {
color: pink;
background-color: lightyellow;
font-size: 15px;
}
div.content > ul {
    color: purple;
    font-size: 20px;
    text-indent: 50px;
}
h3 ~ p {
    color: lightblue;
    font-size: 15px;
}
