div p{
    color: rebeccapurple;
}
div h2{
    color:rgba(9, 143, 31, 0.904);
}
div p, h2 {
    text-align: center;
    
}
#mytext1 {
    font-family: 'Times New Roman', Times, serif;

}
#mytext2 {
    font-family: Arial, Helvetica, sans-serif;
}
#mytext1, #mytext2 {
    line-height: 50px;
}
.test1 {
    font-size: small;
}
p.test2 {
    font-size: larger;
}