::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(lightgreen, teal);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(pink, lightblue);
}
::-webkit-scrollbar-track-piece{
    background: linear-gradient(rgb(22, 77, 203), rgb(0, 174, 255));
}
::-webkit-scrollbar-button{
    background: rgb(56, 0, 168);
}