h1{
    font: bold 40px "times new roman";
    color: red;
    text-align: center;
}
ol{
    color: red;
}
h2{
    color: green;
}
p{
    font-size: 15px;
    width: 500px;
    line-height: 30px;
}
i{
    color: blue;
}
ul{
    width: 500px;
    font: italic 20px italic;
    color: brown;
}