body{
    font-family: "Comic Sans MS", "Comic Sans";
    background-color: powderblue;
 
}
h1{
    color: red;
    text-align: center;
}
p{
    font-size: 25px;
}
h2{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}