@font-face {
    font-family: Ruslan_Display;
    src: url(fonts/transfonter.org-20231003-153241/RuslanDisplay.woff);

}
@font-face {
    font-family: Balsamiq_Sans;
    src: url(fonts/transfonter.org-20231003-153212/BalsamiqSans-Regular.woff);
}
.header{
    height: 10vh;
    width: 100vw;
    padding-top: 5vh;
    background-color: black;
    text-align: center;
    color: white;
    font-family: Ruslan_Display;
}
.main{
    background-color: rgb(39, 39, 39);
    height: 85vh;
    text-align: center;
    color: white;
    font-family: Balsamiq_Sans;
}

.main img{
    height: 100%;
}
.main h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.catalog{
    background-color: gray;
}
.catalog-item{
    float: left;
    padding-top: 15vh;
    height: 85vh;
    width: 33%;
    text-align: center;
    font-family: Balsamiq_Sans;
    
}
.catalog-item img {
    height: 30%;
    padding-bottom: 10px;
}
.catalog-item p{
    font-family: Balsamiq_Sans;
    color: white;
}
.clear{
    clear: both;
}
